/*通用样式*/
*{padding: 0;margin: 0;}
body{font: 14px/24px'微软雅黑';}
.wp{width:960px;margin: 0 auto}
.z{float:left;}
.y{float:right;}
.cl{clear:both;}
.mr_0{margin: 0;}


.top{
    width:100%;
    height:24px;
    background-color: #303030;
    line-height: 24px;
    }
.top a{
    color: #d8d8d8;
    text-decoration: none;
}
.top span{
    margin-right: 10px;
}

.logos{
    width:960px;margin: 0 auto;
    height: 59px;

}

.sousuo{
    width: 350px;
    height:41px;
    margin-top: 8px;
}
.sousuo td{
    height:41px;
}
.s_z{
    width: 6px;
    background: url("../images/s_z.jpg");
}
.s_c{
    widows: 240px;
    background: url("../images/s_c.jpg");
}
.s_y{
    width: 78px;
    background: url("../images/s_r.jpg");
}
.s_c input{
    border: 0px;
    height: 35px;
    margin-top: 3px;
}
.s_y button{
    border: none;
    height: 41px;
    width: 78px;
   background: none;
    cursor: pointer;
}
.dianhua span {
    color: darkred;
    font-size: 25px;
    height: 59px;
    line-height: 59px;
    margin-left: 15px;
}